.root {
    position: relative;
    left: -80px;
    @media (max-width: 1160px) {
        left: 0px;
    }
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    padding: 10px 16px;
    font-size: 16px;
    padding-left: 40px;

    @media (max-width: 425px) {
        width: 200px;
    }

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.3); 
    }

    
}

.icon {
    width: 20px;
    height: 20px;
    opacity: 0.3;
    position: absolute;
    left: 12px;
    top: 12px;
}

.clearIcon {
    width: 15px;
    height: 15px;
    position:absolute;
    opacity: 0.3;
    right: 15px;
    top: 15px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}